<aside class="sidebar left-sidebar sticky">

    <header>
        <div class="site-meta">
            <h1 class="site-name">
                <a href="{{ .Site.Home.RelPermalink }}">{{ .Site.Title }}</a>
            </h1>
        </div>
    </header>

    <ol class="menu">

        <!-- TOPŒÅ’è -->
        <li>
            <a href="{{ .Site.Home.RelPermalink }}">TOP</a>
        </li>

        <!-- Œ»ÝŠK‘w‚ÌŒZ’íƒy[ƒW -->
        {{ with .CurrentSection }}
            {{ range .Pages }}
                <li>
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                </li>
            {{ end }}
        {{ end }}

    </ol>

</aside>