<ol class="menu" id="main-menu">

    {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
        <li>
            <a href="{{ printf "/categories/%s/" $name | relURL }}">
                {{ $name }}
            </a>
        </li>
    {{ end }}

    {{ range .Site.Menus.main }}
        <li class="{{ if .Children }}menu-item-has-children{{ end }}">
            <a href="{{ .URL }}"
                {{ if .Params.newTab }}target="_blank"{{ end }}>
                {{ with .Params.Icon }}
                    {{ partial "helper/icon" . }}
                {{ end }}
                <span>{{ .Name }}</span>
            </a>

            {{ if .Children }}
                <ol class="menu sub-menu">
                    {{ range .Children }}
                        <li>
                            <a href="{{ .URL }}"
                                {{ if .Params.newTab }}target="_blank"{{ end }}>
                                {{ with .Params.Icon }}
                                    {{ partial "helper/icon" . }}
                                {{ end }}
                                <span>{{ .Name }}</span>
                            </a>
                        </li>
                    {{ end }}
                </ol>
            {{ end }}
        </li>
    {{ end }}

</ol>
