{{ define "main" }}

<article class="main-article">
    <section class="article-content">
        {{ .Content }}
    </section>
</article>

{{ with .Sections }}
<h2>作品一覧</h2>

<section class="article-list--tile">
    {{ range . }}
        {{ partial "article-list/tile" . }}
    {{ end }}
</section>
{{ end }}

{{ partialCached "footer/footer" . }}

{{ end }}

{{ define "right-sidebar" }}
    {{ partial "sidebar/right.html" (dict "Context" . "Scope" "page") }}
{{ end }}

{{ define "body-class" }}
article-page
{{ end }}
